<!DOCTYPE html>
<html>
	<head>
		<title>Library App</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="https://unpkg.com/react@15.4.1/dist/react.js"></script>
		<script src="https://unpkg.com/react-dom@15.4.1/dist/react-dom.js"></script>
		<script src="https://unpkg.com/react-router/umd/ReactRouter.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
		<meta charset="utf-8">
	</head>
	<body style="margin: 0px">
		<div id="main" style="margin: 0px"></div>
		<script src="/bundle.js"></script>
	</body>
</html>